/*
--main-background:  #232323;
--main-font: 'Lato', sans-serif;

--color-grey: rgb(122 122 122);
--color-white: rgb(220, 220, 220);
--color-teal: #7fa29a;
--shadow-grey: 0 4px 8px 0 rgb(160 160 160 / 20%), 0 6px 20px 0 rgb(185 185 185 / 19%);*/
:root {
	font-size: 16px;
	font-family: 'Lato', sans-serif;

	/* globals*/
	--btn-primary-background: #7fa29a28;
	--btn-secondary-background: #7fa29a;
	--background-dark: #101b1e;
	--background-dark-hover: #0b1416;
	--bg-main: #2a3132;

	/* nav stuff */
	--text-primary: #7fa29a;
	--hover-gray: #f2f2f2;
	--main-color: #142326;
	--bg-secondary: #243235;
	--transition-speed: 600ms;

	/* scroll wheel*/
	--wheel-color: #576d68;
	/*form stuff*/
	--form-bg-primary: #202b2b;
	--form-input-bg: #11181888;
	--form-border-radius: 15px;
	--f-b1-hvr-color: #4e6661;
	--f-b2-hvr-color: #9ac5bb6e;
	--form-delete-color: #e26767;
}

body {
	color: black;
	background-color: var(--bg-main);
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

button {
	user-select: none;
}

body::-webkit-scrollbar {
	width: 0.45rem;
}

body::-webkit-scrollbar-track {
	background: var(--main-color);
}

body::-webkit-scrollbar-thumb {
	background: var(--wheel-color);
	border-radius: 15px;
}

nav::-webkit-scrollbar {
	height: 0.5rem;
}

nav::-webkit-scrollbar-track {
	width: 0.5rem;
	background: var(--main-color);
}

nav::-webkit-scrollbar-thumb {
	background: var(--wheel-color);
	border-radius: 15px;
}

main {
	margin-left: 5rem;
	padding: 0;
	font-size: 1.35rem;
	font-weight: 500;
	color: var(--text-primary);
	font-family: 'Lato', sans-serif;
}

/* GLOBALS */
.button-primary,
.set-load {
	border-radius: var(--form-border-radius);
	font-family: 'Lato', sans-serif;
	border: 0.2rem solid #182121;
	outline: none;
	background: var(--btn-primary-background);
	color: var(--btn-secondary-background);
	font-weight: 600;
	width: 7.5rem;
	height: 2rem;
	cursor: pointer;
}
.set-remove {
	border-radius: var(--form-border-radius);
	font-family: 'Lato', sans-serif;
	border: 0.2rem solid #182121;
	outline: none;
	/* background: var(--btn-secondary-background); */
	background: #b17272;
	/* color: #2f3d3c; */
	color: #0f1613;
	font-weight: 600;
	width: 7.5rem;
	height: 2rem;
	cursor: pointer;
}
.button-secondary {
	border-radius: var(--form-border-radius);
	font-family: 'Lato', sans-serif;
	border: 0.2rem solid #182121;
	outline: none;
	background: var(--btn-secondary-background);
	color: #2f3d3c;
	font-weight: 600;
	width: 7.5rem;
	height: 2rem;
	cursor: pointer;
}
.set-test {
	border-radius: var(--form-border-radius);
	font-family: 'Lato', sans-serif;
	border: 0.2rem solid #182121;
	outline: none;
	background: #a0a27f;
	color: #0f1613;
	font-weight: 600;
	width: 7.5rem;
	height: 2rem;
	cursor: pointer;
}
.set-test:hover {
	opacity: 0.6;
}
.export-set {
	border-radius: var(--form-border-radius);
	font-family: 'Lato', sans-serif;
	border: 0.2rem solid #182121;
	outline: none;
	background: rgb(122 127 170);
	color: #0f1613;
	font-weight: 600;
	width: 7.5rem;
	height: 2rem;
	cursor: pointer;
}
.export-set:hover {
	opacity: 0.6;
}

.input-important {
	width: 14rem;
	height: 3rem;
	text-align: center;
	font-size: 1.43rem;
	background-color: var(--form-input-bg);
	color: var(--text-primary);
	border: none;
	border-radius: 15px;
}

.navbar {
	position: fixed;
	background-color: var(--main-color);
	transition: width 600ms ease;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
}

#navbar-nav:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--hover-gray);
	cursor: pointer;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	width: 100%;
	height: 5rem;
	font-size: 1rem;
	background: transparent;
	border: none;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--hover-gray);
	cursor: pointer;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--hover-gray);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo-text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
}

.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

.image-settings {
	display: flex;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1rem;
	background: transparent;
	border: none;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%);
	transition: var(--transition-speed);
}
.image-joinGame {
	display: flex;
	align-items: center;
	width: 1.9rem;
	height: 2.5rem;
	font-size: 1rem;
	background: transparent;
	border: none;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%);
	transition: var(--transition-speed);
}

/* CARDs*/
.card-container {
	background-color: var(--main-color);
	display: block;
	justify-content: center;
	margin: auto;
	margin-top: 5rem;
	padding: 0.5rem;
	user-select: none;
}
.card-container:hover {
	cursor: pointer;
}
.card-text {
	justify-content: center;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	height: fit-content;
}
.card-content {
	line-height: 2rem;
}
.card-inner {
	line-height: 16rem;
}
#card-number {
	margin: 1.5rem;
	text-align: center;
	display: block;
	justify-content: center;
	position: fixed;
}
/* .switch-card {
} */

/* FORM */

/*not an actual form*/
.study-set-form {
	display: none;
	margin: auto;
	text-align: center;
	border: 0.2rem solid;
	line-height: 2rem;
	background-color: var(--form-bg-primary);
	justify-content: center;
	overflow: auto;
}
.study-set-form::-webkit-scrollbar {
	width: 0.45rem;
}

.study-set-form::-webkit-scrollbar-track {
	background: var(--main-color);
}

.study-set-form::-webkit-scrollbar-thumb {
	background: var(--wheel-color);
	border-radius: 15px;
}
/*block on the form*/
.form-item {
	margin-bottom: 1rem;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.form-item-input {
	border-radius: var(--form-border-radius);
	font-family: 'Lato', sans-serif;
	border: none;
	outline: none;
	width: 15rem;
	height: 2rem;
	padding-left: 0.5rem;
	font-size: 1.07rem;
	background-color: var(--form-input-bg);
	color: var(--text-primary);
}

#form-button-add-item:hover,
.button-secondary:hover,
.set-remove:hover {
	opacity: 0.6;
	/* background-color: var(--f-b1-hvr-color); */
}

#form-finish:hover,
.button-primary:hover,
.set-load:hover {
	opacity: 0.6;
	/* background-color: var(--f-b2-hvr-color); */
}
.form-delete-term {
	background: transparent;
	border: none;
	font-weight: 1000;
	opacity: 0.85;
	color: var(--form-delete-color);
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 0.5rem;
}

::placeholder {
	color: #7fa29a;
	opacity: 0.7;
}

/* load tests*/
#load-tests {
	display: none;
	margin: auto;
	text-align: center;
	border: 0.2rem solid;
	line-height: 2rem;
	background-color: var(--form-bg-primary);
	justify-content: center;
	overflow: auto;
}

.set-item hr {
	height: 3px;
	opacity: 0.5;
	background-color: var(--text-primary);
	border: none;
}

#left-right {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	height: 2rem;
	text-align: center;
	margin-top: -2.2rem;
}

.switch-card-button {
	margin-right: 0.4rem;
	margin-left: 0.4rem;
	width: 3rem;
	background-color: var(--background-dark);
	color: var(--text-primary);
	font-size: 1.4rem;
	border: none;
	border-radius: 0.55rem;
}
.switch-card-button:hover {
	background-color: var(--background-dark-hover);
	cursor: pointer;
}

/* Test Page */
#test-page {
	display: none;
	background-color: #112a30;
	justify-content: center;
	text-align: center;
	border-radius: 2rem;
	outline: solid rgb(17, 24, 32) 7px;
	box-shadow: 0px 8px 27px 0px #161616;
	margin: auto;
	font-size: 2rem;
	margin-top: 9rem;
	padding: 0.5rem;
}
#test-text {
	justify-content: center;
	color: var(--text-primary);
	background: rgba(0, 0, 0, 0.308);
	margin-bottom: 3rem;
	bottom: 2rem;
	height: 4rem;
	border: none;
	border-radius: 1rem;
	outline: none;
	font-size: 2rem;
	padding-left: 20px;
}
#test-enter {
	justify-content: center;
	margin: 0.5rem;
	margin-right: 10px;
	color: var(--text-primary);
	background: rgba(42, 134, 150, 0.568);
	height: 4rem;
	width: 8rem;
	border: none;
	border-radius: 1rem;
	outline: none;
	font-size: 2rem;
	font-weight: 600;
	cursor: pointer;
}
#test-enter:hover {
	background: rgba(36, 111, 124, 0.568);
}
#test-question {
	justify-content: center;
	margin: 2rem;
	text-align: center;
	position: relative;
	display: flex;
	height: fit-content;
}
#test-name {
	justify-content: center;
	margin-top: -3rem;
	color: #32a54a;
	display: flex;
	font-size: 1.6rem;
}
#stats {
	display: flex;
	margin: 1.25rem;
	margin-top: 0;
	justify-content: center;
	font-weight: 600;
}
#test-stats-score {
	margin-right: auto;
	color: #49ea49;
}
#test-stats-current-question {
	margin-left: auto;
}
#end-score {
	font-weight: 600;
}
#try-again {
	border: none;
	outline: none;
	width: 150px;
	height: 50px;
	border-radius: 1rem;
	font-size: 1.25rem;
	font-weight: 500;
	background-color: #5fa192;
	cursor: pointer;
	margin: 1.25rem;
}
#try-again:hover {
	opacity: 0.8;
}

/* mobile */
@media only screen and (max-width: 886px) {
	body {
		overflow-x: hidden;
	}
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
		/* allow horizontal scrolling on mobile*/
		overflow-y: hidden;
		overflow-x: auto;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.nav-link {
		justify-content: center;
	}
	.card-container {
		width: 95vw;
		height: 45vh;
	}
	#test-page {
		width: 95vw;
		font-size: 23px;
		margin-top: 50px;
		outline: none;
	}
	#test-question {
		margin: 0rem;
	}
	#test-text {
		width: 90%;
	}
	.study-set-form {
		width: 95vw;
		height: 85vh;
	}

	.card-text {
		font-size: 1.4rem;
	}

	#load-tests {
		width: 95vw;
		height: 85vh;
	}

	main {
		margin: 0;
	}
}

/* desktop */
@media only screen and (min-width: 886px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 12.5rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}
	.card-container {
		width: 48rem;
		height: 27rem;
	}
	.study-set-form {
		width: 50rem;
		height: 60rem;
	}
	#test-page {
		width: 48rem;
	}
	#test-text {
		width: 50%;
	}
	.card-text {
		font-size: 2rem;
	}
	.nav-link svg {
		margin-left: 1.1rem;
	}
	.home-button {
		margin-left: 1.5rem !important;
	}
	#load-tests {
		width: 50rem;
		height: 60rem;
	}
}
